body {
    padding-top: 100px;
}

.container-home {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.categorias-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 15px;
}

.destaques-body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 25px;
}

.rodape {
    padding-top: 15px;
}