body {
    background-color: aquamarine;
}

.categorias{
    display: grid;
    grid-row: 1;
    text-align: center;
   
   

}

.containerCategorias{
    display: grid;
    align-content:center;
    justify-items: center;
    grid-row: 1 span 5;


}
.destaque{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: white;
    padding-top: 3px;
  
}


.containerHome{
    display: grid;
    grid-template-rows: 50vh 60vh 60vh 15vh;

}

.feedback{
    border: 1px solid black;
    border-width: 2px;
    border-radius: 2;
    border-color: black;
    background-color: white;
}

.fipe{
    border: 1px solid black;
    border-width: 2px;
    border-radius: 2;
    border-color: black;
    background-color: white;
}
i {
    width: 50px;
    height: 50px;

}