

body {
    background-color: aquamarine;
}

.categorias{
    display: grid;
    grid-row: 1;
    text-align: center; 
   
   

}

.containerCategorias{
    display: grid;
    align-content:center;
    justify-items: center;
    grid-row: 1 span 5;


}
.destaque{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: white;
    padding-top: 3px;
  
}


.containerHome{
    display: grid;
    grid-template-rows: 50vh 60vh 60vh 15vh;

}

.feedback{
    border: 1px solid black;
    border-width: 2px;
    border-radius: 2;
    border-color: black;
    background-color: white;
}

.fipe{
    border: 1px solid black;
    border-width: 2px;
    border-radius: 2;
    border-color: black;
    background-color: white;
}
i {
    width: 50px;
    height: 50px;

}

/*RODAPÉ DA PÁGINA*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

footer{
    background-color: #ffffff;
    padding: 30px 0;
    
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col h6{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #000000;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #000000;
    background-color: rgb(0, 0, 0);
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}
.footer-col .form-sub input::placeholder{
    color: rgb(0, 0, 0);
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);        
}

