<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <title>Godinho Veículos</title>
</head>

<body>
    <div class="container-home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo.png" alt="Logo" width="70"> <b>GODINHO</b></img>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Veículos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Todos</a></li>
                                <li><a class="dropdown-item" href="#">Carros</a></li>
                                <li><a class="dropdown-item" href="#">Motocicletas</a></li>
                                <li><a class="dropdown-item" href="#">Caminhões</a></li>
                                <li><a class="dropdown-item" href="#">Tratores</a></li>
                                <li><a class="dropdown-item" href="#">Carretas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Financiamento</a>
                        </li>
                    </ul>

                </div>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="categorias">
            <div class="catagorias-header text-center">
                <h3 class="fw-bold mb-4">Categorias</h3>
            </div>

            <div class="categorias-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/bmw-x5-40i-4d-suv-white-2021.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">SUV</h5>
                        <p class="card-text">Descrição da categoria SUV.</p>
                        <a href="#" class="btn btn-dark">Ver Mais</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/bmw-330i-4d-blue-2021.png">
                    <div class="card-body">
                        <h5 class="card-title">Sedan</h5>
                        <p class="card-text">Descrição da categoria Sedan.</p>
                        <a href="#" class="btn btn-dark">Ver Mais</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/chevrolet-camaro-2d-black-2023.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Esportivo</h5>
                        <p class="card-text">Descrição da categoria Esportivo.</p>
                        <a href="#" class="btn btn-dark">Ver Mais</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="destaques">
            <div class="destaques-header text-center">
                <h3 class="fw-bold mb-4">Destaques</h3>
            </div>

            <div class="destaques-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://fotos-jornaldocarro-estadao.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2023/06/30153948/panda-baixo-1.webp"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Liminha - R$ 0,00</h5>
                        <h6>Novo</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ano 2007</li>
                        <li class="list-group-item">Eleito o melhor carro da cidade de Capivari</li>
                    </ul>
                    <!-- <div class="card-body">
                        <a href="#" class="card-link">Link do card</a>
                        <a href="#" class="card-link">Outro link</a>
                    </div> -->
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://fotos-jornaldocarro-estadao.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2023/06/30153948/panda-baixo-1.webp"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Liminha - R$ 0,00</h5>
                        <h6>Novo</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ano 2007</li>
                        <li class="list-group-item">Eleito o melhor carro da cidade de Capivari</li>
                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://fotos-jornaldocarro-estadao.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2023/06/30153948/panda-baixo-1.webp"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Liminha - R$ 0,00</h5>
                        <h6>Novo</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ano 2007</li>
                        <li class="list-group-item">Eleito o melhor carro da cidade de Capivari</li>
                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://fotos-jornaldocarro-estadao.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2023/06/30153948/panda-baixo-1.webp"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Liminha - R$ 0,00</h5>
                        <h6>Novo</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ano 2007</li>
                        <li class="list-group-item">Eleito o melhor carro da cidade de Capivari</li>
                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://fotos-jornaldocarro-estadao.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2023/06/30153948/panda-baixo-1.webp"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Liminha - R$ 0,00</h5>
                        <h6>Novo</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ano 2007</li>
                        <li class="list-group-item">Eleito o melhor carro da cidade de Capivari</li>
                    </ul>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://fotos-jornaldocarro-estadao.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2023/06/30153948/panda-baixo-1.webp"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Liminha - R$ 0,00</h5>
                        <h6>Novo</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ano 2007</li>
                        <li class="list-group-item">Eleito o melhor carro da cidade de Capivari</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="feedback">
            <div class="container py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 col-xl-8 text-center">
                        <h3 class="fw-bold mb-4">Feedback</h3>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="card">
                            <div class="card-body py-4 mt-2">
                                <div class="d-flex justify-content-center mb-4">
                                    <img src="https://images.unsplash.com/photo-1544348817-5f2cf14b88c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                                        class="rounded-circle shadow-1-strong" width="100" height="100" />
                                </div>
                                <h5 class="font-weight-bold">Grady Booch</h5>
                                <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                                <ul class="list-unstyled d-flex justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star-half-alt fa-sm text-info"></i>
                                    </li>
                                </ul>
                                <p class="mb-2">
                                    <i class="fas fa-quote-left pe-2"></i>I had a great experience at Godinho Veículos.
                                    Found the exact car I wanted in tip-top shape at a fair price with excellent
                                    customer service and attention-to-detail.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="card">
                            <div class="card-body py-4 mt-2">
                                <div class="d-flex justify-content-center mb-4">
                                    <img src="https://images.unsplash.com/photo-1560787313-5dff3307e257?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                                        class="rounded-circle shadow-1-strong" width="100" height="100" />
                                </div>
                                <h5 class="font-weight-bold">Ivar Jacobson</h5>
                                <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
                                <ul class="list-unstyled d-flex justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                </ul>
                                <p class="mb-2">
                                    <i class="fas fa-quote-left pe-2"></i>You brace yourself going into a car dealer.
                                    Prepare mentally for the oncoming “pushy salesmen.” And then… they don't come.
                                    Instead, you get friendly people who don't try to “push” anything on you. They're
                                    helpful. They listen.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-0">
                        <div class="card">
                            <div class="card-body py-4 mt-2">
                                <div class="d-flex justify-content-center mb-4">
                                    <img src="https://images.unsplash.com/photo-1531123897727-8f129e1688ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTJ8fGZhY2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                                        class="rounded-circle shadow-1-strong" width="100" height="100" />
                                </div>
                                <h5 class="font-weight-bold">Jackie Rumbaugh</h5>
                                <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
                                <ul class="list-unstyled d-flex justify-content-center">
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-info"></i>
                                    </li>
                                    <li>
                                        <i class="far fa-star fa-sm text-info"></i>
                                    </li>
                                </ul>
                                <p class="mb-2">
                                    <i class="fas fa-quote-left pe-2"></i>Great experience, The
                                    sale took place very quick and was able to secure transportation 2 days after the
                                    purchase. Car got to my home in a timely fashion.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rodape bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h3>TABELA FIPE</h3>
                        <p>
                            <a href="https://veiculos.fipe.org.br/" target="_blank">SITE DA TABELA FIPE</a>
                        </p>
                        <p>A Tabela Fipe expressa preços médios de veículos no mercado
                            nacional, servindo apenas como um parâmetro para negociações
                            ou avaliações. Os preços efetivamente praticados variam em função
                            da região, conservação, cor, acessórios ou qualquer outro fator que
                            possa influenciar as condições de oferta e procura por um veículo
                            específico.</p>
                    </div>
                    <div class="col-3">
                        <h3>Termos de uso</h3>
                    </div>
                    <div class="col-3">
                        <h3>Endereço</h3>
                        <div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.547131986774!2d-47.30420681409162!3d-23.18672314633147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf53972da3336f%3A0xceb3df208b4b53a4!2sInstituto%20Federal%20de%20Educa%C3%A7%C3%A3o%2C%20Ci%C3%AAncia%20e%20Tecnologia%20de%20S%C3%A3o%20Paulo%2C%20Campus%20Salto!5e0!3m2!1spt-BR!2sbr!4v1693699648649!5m2!1spt-BR!2sbr"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-3">
                        <h3>Redes Sociais</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>