<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <title>GODINHO VEÍCULOS</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/qUIRINO vEICULOS.png" alt="" width="70"> <b>GODINHO </b></img>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Veículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Motocicletas</a></li>
                            <li><a class="dropdown-item" href="#">Carros</a></li>
                            <li><a class="dropdown-item" href="#">Caminhões</a></li>
                            <li><a class="dropdown-item" href="#">Tratores</a></li>
                            <li><a class="dropdown-item" href="#">Carretas</a></li>
                            <li><a class="dropdown-item" href="#">Bicicletas</a></li>
                            <li><a class="dropdown-menu" href="#">Secretos</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Home</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="containerHome">


        <div class="containerCategorias">

            <!-- Desenvolver Home Aqui -->

            <div class="categorias">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/bmw-x5-40i-4d-suv-white-2021.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">SUV</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                        <a href="#" class="btn btn-dark">Ver Mais</a>
                    </div>
                </div>


            </div>

            <div class="categorias">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/bmw-330i-4d-blue-2021.png">
                    <div class="card-body">
                        <h5 class="card-title">Sedan</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                        <a href="#" class="btn btn-dark">Ver Mais</a>
                    </div>
                </div>

            </div>

            <div class="categorias">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/chevrolet-camaro-2d-black-2023.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Esportivo</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                        <a href="#" class="btn btn-dark">Ver Mais</a>
                    </div>
                </div>

            </div>


            <div class="categorias">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/chrysler-pacifica-van-schwarz-2018.png"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Familia</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                        <a href="#" class="btn btn-dark">Ver Mais</a>
                    </div>
                </div>

            </div>

        </div>

        <div class="destaque">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://fotos-jornaldocarro-estadao.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2023/06/30153948/panda-baixo-1.webp"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Liminha - R$ 0,00</h5>
                    <h6 class="subDescription">Descricao 2</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://i0.wp.com/thegarage.com.br/wp-content/uploads/2020/08/mercedes-benz-classe-a-.png?resize=1500%2C1000&ssl=1"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Liminha - R$ 0,00</h5>
                    <h6 class="subDescription">Descricao 2</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>
                </div>

            </div>



            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://i0.wp.com/thegarage.com.br/wp-content/uploads/2020/08/mercedes-benz-classe-a-.png?resize=1500%2C1000&ssl=1"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Liminha - R$ 0,00</h5>
                    <h6 class="subDescription">Descricao 2</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>
                </div>

            </div>


        </div>

        <div class="feedback">
            <section style="color: #000; background-color: #f3f2f2;">
                <div class="container py-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10 col-xl-8 text-center">
                            <h3 class="fw-bold mb-4">Feedback</h3>

                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card">
                                <div class="card-body py-4 mt-2">
                                    <div class="d-flex justify-content-center mb-4">
                                        <img src="https://yt3.googleusercontent.com/ytc/AOPolaTDFoASvzcyouK1o82Nbnes2Z_5-6rFje18akbNfg=s176-c-k-c0x00ffffff-no-rj"
                                            class="rounded-circle shadow-1-strong" width="100" height="100" />
                                    </div>
                                    <h5 class="font-weight-bold">Teresa May</h5>
                                    <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
                                    <ul class="list-unstyled d-flex justify-content-center">
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star-half-alt fa-sm text-info"></i>
                                        </li>
                                    </ul>
                                    <p class="mb-2">
                                        <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                                        ad velit ab hic tenetur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card">
                                <div class="card-body py-4 mt-2">
                                    <div class="d-flex justify-content-center mb-4">
                                        <img src="https://media.licdn.com/dms/image/C4D03AQHywGq4hd8pOQ/profile-displayphoto-shrink_200_200/0/1583863022854?e=1698883200&v=beta&t=LDQu3JrAE771iIP4029Zh2InX5ZTpThTHtF_ygjthls"
                                            class="rounded-circle shadow-1-strong" width="100" height="100" />
                                    </div>
                                    <h5 class="font-weight-bold">McLovin</h5>
                                    <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
                                    <ul class="list-unstyled d-flex justify-content-center">
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                    </ul>
                                    <p class="mb-2">
                                        <i class="fas fa-quote-left pe-2"></i>Autem, totam debitis suscipit saepe
                                        sapiente magnam officiis quaerat necessitatibus odio assumenda perferendis
                                        labore laboriosam.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-0">
                            <div class="card">
                                <div class="card-body py-4 mt-2">
                                    <div class="d-flex justify-content-center mb-4">
                                        <img src="https://suap.ifsp.edu.br/media/fotos/75x100/6067.jpg"
                                            class="rounded-circle shadow-1-strong" width="100" height="100" />
                                    </div>
                                    <h5 class="font-weight-bold">Carlos Roger</h5>
                                    <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
                                    <ul class="list-unstyled d-flex justify-content-center">
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star fa-sm text-info"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star fa-sm text-info"></i>
                                        </li>
                                    </ul>
                                    <p class="mb-2">
                                        <i class="fas fa-quote-left pe-2"></i>Cras sit amet nibh libero, in gravida
                                        nulla metus scelerisque ante sollicitudin commodo cras purus odio,
                                        vestibulum in tempus viverra turpis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>

    <!--RODAPÉ DA PÁGINA -->
    <footer>
        <div class="container-footer">
            <div class="row-footer">
               
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#"> Quem somos </a></li>
                        <li><a href=""> nossos serviços </a></li>
                        <li><a href=""> política de privacidade </a></li>
                        <li><a href=""> programa de afiliados</a></li>
                        <li><a href=""> Endereço</a></li>
                    </ul>
                </div>
               
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Transporte</a></li>
                        <li><a href="#">devoluções</a></li>
                        <li><a href="#">Código de defesa do consumidor</a></li>
                        <li><a href="#">LGPD</a></li>
                        
                    </ul>
                </div>
              
                <div class="footer-col">
                    <h4>Serviços</h4>
                    <ul>
                        <li><a href="https://veiculos.fipe.org.br/" target="_blank">Tabela FIPE</a></li>
                        <li><a href="#">Opções De Pagamento</a></li>
                        <li><a href="#">Financiamento</a></li>
                        <li><a href="#">Seguro Veículo</a></li>
                        <li><a href="#">Plataformas Parceiras</a></li>
                    </ul>
                </div>
              
                <div class="footer-col">
                    <h4>Se Inscreva!</h4>
                    <h6>Cadastre seu e-mail para sempre estar atualizado com as melhores ofertas do mercado</h6>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required>
                            <button>subscrever</button>
                        </form>
                    </div>

                    <div class="medias-socias">
                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                        <a href="#"> <i class="fa fa-instagram"></i> </a>
                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                        <a href="#"> <i class="fa fa-linkedin"></i> </a>
                    </div>

                </div>
            </div>
        </div>
    </footer>

</body>

</html>