<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <title>GODINHO VEÍCULOS</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/qUIRINO vEICULOS.png"
                    alt="" width="70"> <b>GODINHO </b></img>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Veículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Motocicletas</a></li>
                            <li><a class="dropdown-item" href="#">Carros</a></li>
                            <li><a class="dropdown-item" href="#">Caminhões</a></li>
                            <li><a class="dropdown-item" href="#">Tratores</a></li>
                            <li><a class="dropdown-item" href="#">Carretas</a></li>
                            <li><a class="dropdown-item" href="#">Bicicletas</a></li>
                            <li><a class="dropdown-menu" href="#">Secretos</a></li>
                            
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Home</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class = "containerHome">

    
    <div class="containerCategorias">
        
        <!-- Desenvolver Home Aqui -->
        <div class = "categorias">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/bmw-x5-40i-4d-suv-white-2021.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <p class="card-text">SUV</p>
                </div>
              </div>

        </div>

        <div class = "categorias">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/bmw-330i-4d-blue-2021.png">
                <div class="card-body">
                  <p class="card-text">Sedan</p>
                </div>
              </div>

        </div>

        <div class = "categorias">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/chevrolet-camaro-2d-black-2023.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <p class="card-text">Esportivo</p>
                </div>
              </div>

        </div>


        <div class = "categorias">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.sixt.com/fileadmin2/files/global/user_upload/fleet/png/630x360/chrysler-pacifica-van-schwarz-2018.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <p class="card-text">Familia</p>
                </div>
              </div>

        </div>
       
    </div>

    <div class = "destaque">
        DESTAQUE

    </div>

    <div class="feedback">
        FEEDBACK
    </div>

    <div class="fipe">
        TABELA FIPE

    </div>
</div>


</body>

</html>